# Path to Chromium browser path. Defaults to 'chromium'.
CHROMIUM_PATH=chromium

# Headless browser (1), or not (0). Defaults to 1
HEADLESS=1

# Port to CDP
PORT=9222

# User data directory. Required.
USER_DATA_DIR=

# Pause after the browser is newly open.
PAUSE=5
